<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
         {{>date}}
        {{>header}}
        <p class="errorText"> Page not found</p>
        {{>error}}
        {{>footer}}
    </body>
</html>