<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
         {{>date}}
        {{>header}}
        <div id="aboutPage">
            <p>Hi Folks, Sumanth aka Admiral General is owner of this site.</p>
            <img src = "/images/sumanth.jpeg">
        </div>

        {{>footer}}
    </body>
</html>