<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         {{>date}}
        {{>header}}
        <form>
            <label class="mainLabelName" for="paintings">Choose a category:</label>
            <select name="gridItems" id="gridItems">
                <option value="papaintingsint">Paintings</option>
                <option value="wallpapers">Wallpapers</option>
            </select>
            <br><br>
            <input class = "submitButton" type="submit" value="Submit">
        </form>
        <div id="wallpapers">
            
        </div>
    </body>
    <script src="/js/walls.js"></script>
</html>