<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         {{>date}}
        {{>header}}
        <div id="wallpapers">
            
        </div>
    </body>
    <script src="/js/walls.js"></script>
</html>