<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/news.css">
    </head>
    <body onload = "getLocation()">
         {{>date}}
        {{>header}}
        <div id="weatherDiv">
             <p> Hi folks, to check your weather, type zip code or type place </p>
             <form>
                <input type="string" placeholder="Location" id="fname" name="fname" class="auto">
                <button>Weather!</button><br><br>
             </form>

            {{>weatherdata}}
        </div>
        </div>
        
        {{>footer}}
    </body>
    <script src="/js/app.js"></script>
</html>