<div id="response">
    <div id = "location">{{location}}</div>
    <div class ="flexer">
        <img id = "weatherIcon" src ={{icon}}>
        <div id = "weatherText">{{weather}} </div>
    </div>
    
    
</div>