body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(0, 0, 0, 0.8);
    color: white;
    background-image: url('../images/mainBg.jpeg');
}

#core {
    position: relative;
    margin: 25px;
    padding: 0, 16px;
}

form {
    left: 5%;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1:hover {
    cursor: pointer;
    caret-color: red;
}

h2 {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
h3 {
    font-size: 12px;
    float: right;
    position: fixed;
}

#aboutPage {
    position: relative;
    left: 38%;
    top: 25px;
}


img {
    width: auto;
    height: 500px;
    border-radius: 5px;
}

p{
    font-weight: bold;
    width: auto;
}


ul {
    position: relative;
    display: flex;
    top: 0em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: center;
    text-align: center;
}

li {
    margin:0.75em;
    list-style: none;
    font-weight: bold;
    padding: 15px;
    width: fit-content;
    font-size: 1em;
}

a {
    color: white;
    text-decoration: none;
}

  li:hover {
      cursor: pointer;
  }

.errorText {
    position: relative;
    top: 25px;
    text-align: center;
}

#label {
    background-color: rgb(223, 202, 190);
    font-weight: bold;
    padding: 5px;
}

#date{
    position: absolute;
    font-weight: bold;
    padding: 5px;
    right: 1em;
    top: 7em;
    font-size: 14px;
}

.mainLabelName {
    background-color: rgb(5, 11, 32, 0.3);
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}

#paintings {
    background-color: lightgray;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
}

.submitButton {
    background-color: lightgray;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.submitButton:hover {
    background-color: lightgreen;
    border: 1px solid black;
    cursor: pointer;
}

#fname:hover {
    cursor: auto;
    border: 1px solid #f3eff1;
    padding: 8px;
}

#fname {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    padding: 8px;
    border: 1px solid #cccccc;;
}

button:hover {
    background-color: #888888;
    border: 1px solid #888888;
    cursor: pointer;
    color: white;
  }


  #response {
    display: none;
    font-weight:bold;
    position: relative;
    padding: 10px 0px 0px 10px;
    width: 500px;
    height: 100px;
    background-color: #ffffffdd;
    color:black;
    border-radius: 10px;
    text-shadow: 0px 0px 5px white;
  }

  #response:hover {
    transform: scale(1.2);
  }

  #weatherDiv {
    position: relative;
    left: 3%;
    top: 5px;
    height: 230px;
    }

  #weatherIcon {
      width:60px;
      height:60px;
      margin-right: 25px;
  }

  #weatherText {
    position: relative;
    top: 15px;
    left: 10px;
  }

.flexer {
    position: relative;
    top: 1em;
    display: flex;
}

.allLocations {
    position: relative;
    text-align: center ;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid;
    width: 200px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    background-color: #ffffffdd;
    color: black;
}

.allLocations:hover {
    
    cursor: pointer;
}

.worldLocations {
    position: relative;
    top: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
}

#world-container {
    top: 20px;
    overflow-y: scroll;
    height: 680px;
}

.worldLocations > div {
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-shadow: 0px 0px 15px white;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    height: auto;
    border-radius: 5px;
    transition: transform .4s; /* Animation */
    display: flex;
  }

  .worldLocations > div > img {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0px 20px 0px 10px;
    border-radius: 5px;
  }


  .worldLocations > div > .city-weather-info-text {
    width: 100px;
    height: auto;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    top: 10px;
  }

  .worldLocations > div > .city-weather-text {
    width: 140px;
    height: auto;
    margin: 0px 5px 0px 5px;
    text-align: center;
    font-size: 18px;
    top: 10px;
  }
  
  
  .worldLocations > div > .city {
    width: 136px;
    height: 120px;
    position: relative;
    left: 14%;
    transform: translate(-50%);
  } 

  .worldLocations > div:hover{
    transform: scale(1.2);
    cursor: pointer;
  }

  #sampleCanvas {
      position: absolute;
      width: 300px;
      height: 200px;
      background-color: green;
      left: 200px;
  }

  #wallpapers {
      position: relative;
      width:98%;
      height: auto;
      background-color: rgb(255, 250, 240, 0.5);
      color: black;
      top: 25px;
      padding: 20px;
      border-radius: 5px;
      display: grid;
      /* justify-content: space-evenly; */
      align-content: center;
      grid-template-columns: auto auto auto; /*Make the grid smaller than the container*/
      grid-gap: 10px;
  }



    #wallpapers > img {
        margin: 5px 0px 5px 0px;
        transition: 0.8s;
    }

    #wallpapers > img:hover{
        transform: scale(1.2);
        cursor: pointer;
    }

    #wallPosterparent {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        display: flex;
        width: 40%;
        height: 40%;
        left: 50%;
        transform: translate(-50%);
    }

    #wallPosterparent .wallsPosterImage {
        position: relative;
       
    }

    #wallPosterparent #closeX {
        position: relative;
        margin-left: 25px;
        font-size: 26px;
        top: -5px;
    }

    .blur {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }

    .hover {
        cursor: pointer;
    }

    .noHover{
        pointer-events: none;
    }